@import 'fonts.css';

html{
    min-height: 100%;
    height: auto !important;
}

body {
   background-color:#fff;
   font-family:'Ubuntu', sans-serif;
   font-size:16px;
   color:#74757b;
   overflow-x: hidden;
}

ul, li {
   margin:0;
   padding:0;
}

h1 {
   font-size:32px;
   text-transform: uppercase;
}

a {
   color:#2cd3b8;
   text-decoration:underline;
}

a:hover {
   text-decoration:none;
}

.gray {
   background-color:#eff4f4;
}

.white {
   color:white;
}

.overlay {
   position: absolute;
   min-height: 100%;
   min-width: 100%;
   left: 0;
   top: 0;
}

/* ---------------------------------------------- /*
 *   Header
/* ---------------------------------------------- */

.menu-bar {
   max-width:100%;
   min-height:100px;
   text-transform: uppercase;
}

.menu_shadow {
  height:100px;
  box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.22);
}

.header-img {
   background-size: cover;
   position:absolute;
}

.menu__item {
   list-style:none;
   position:absolute;
   top:2rem;
}

.menu__item a {
   color: #393e6b;
   text-decoration:none;
}

.menu__item a:hover {
   color: #8f90ac;
}

.menu_left {
   position: relative;
   left:1rem;
   z-index:1;
}

.menu_right {
   position:relative;
   left:35rem;
   z-index:1;
}

.menu-icon {
   display:none;
}

.logo {
   width:100px;
   position:relative;
   top:2rem;
   left:5rem;
}

/* ---------------------------------------------- /*
 *   Webim Install
/* ---------------------------------------------- */


/* -------------- Block 1 -------------- */

.install {
   max-width:100%;
   height:auto;
   padding-bottom:70px;
}

.title {
   color: #393e6b;
   margin:70px 0 25px 0;
   -webkit-animation-name: opacity;
   animation-name: opacity;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
   -webkit-animation-duration: 3s;
   animation-duration:3s;
   -webkit-animation-delay: 2s;
   animation-delay: 2s;
   -o-transition-timing-function: linear, easeInSine;
   animation-timing-function:linear, easeInSine;
}

.text {
   font-size:18px;
   line-height:26px;
}

.text_bottom {
   margin-bottom:59px;
} 

.button {
   width:280px;
   padding:14px 0;
   margin:0 25px 30px 0;
   text-transform: uppercase;
   transition:0.3s;
   font-weight:bold;
   border-radius:35px;
   text-decoration: none;
   color:white;
}

.button_light {
   background-color: #2cd3b8;
   border:2px solid #2cd3b8;
}

.button_dark {
   background-color: #393e6b;
   border:2px solid #393e6b;
}

.button_light:hover,
.button_dark:hover {
   background-color:transparent;
   cursor: pointer;
}

.button_light:hover {
   color:#2cd3b8;
}

.button_dark:hover {
   color:#393e6b;
}

/* ------------------------------------- */

/* ------------ Block 2 ---------------- */

.step {
   width:67px;
   height:67px;
   background-image: url('../images/consult-sprite.png');
   background-repeat:no-repeat;
   background-size: cover;
   margin:70px 0;
   position:relative;
}

.consult1 {
   background-position: 0 0;
}

.consult2 {
   background-position: 0 -85px;
}

.consult1::before,
.consult2::before {
   font-size:190px;
   color:#e8e8ec;
   font-weight:bold;
   position:absolute;
   top:-132px;
   left:-62px;
   z-index:-1;
}

.consult1::before {
   content: "1";
}

.consult2::before {
   content: "2";
}

.step__regist,
.step__html {
   font-size:17px;
   position:absolute;
   bottom:10px;
}

/* ------------------------------------- */

/* --------- Block 3, Block 4 ---------- */

.list li {
   margin-left:13px;
   padding:20px 0 0 20px;
}

.list__item {
   line-height:30px;
}

.list__item a {
   font-size: 20px;
}

/* ------------------------------------- */

/* -------------- Block 5 -------------- */

.structure li {
   width:100%;
   list-style:none;
}

.structure__frame {
   width:85px;
   height:85px;
   background-image: url('../images/step-sprite.png');
   background-repeat:no-repeat;
   margin:35px 0;
}

.structure__frame p {
   font-size:18px;
   color:#393e6b;
   padding:20px 0 0 120px;
}

.structure__frame span {
   font-size:21px;
   font-weight:bold;
   color:#393e6b;
   padding-right:5px;
}

.step1 {
   background-position: 0 0;
}

.step2 {
   background-position: 0 -96px;
}

.step3 {
   background-position: 0 -192px;
}

.step4 {
   background-position: 0 -288px;
}

.step5 {
   background-position: 0 -384px;
}

.step6 {
   background-position: 0 -480px;
}

.button_position {
   padding-top:55px;
}

/* ------------------------------------- */

/* ------------- Block 6 ---------------*/

.text_style {
   font-size:20px;
   margin-bottom:59px;
   padding-top:80px;
   color:#393e6b;
}

.channels li {
   font-size:19px;
   text-align:left;
   width:100%;
   list-style:none;
}

.channel__item {
   width:50px;
   height:50px;
   background-image: url('../images/chanels-sprite.png');
   background-repeat:no-repeat;
   margin:50px 0;
}

.channel__item a {
   position:relative;
   top:8px;
   left:70px;
}

.social {
   background-position: 0 0;
}

.messenger {
   background-position: 0 -60px;
}

.chat-bot {
   background-position: 0 -120px;
}

.feedback {
   background-position: 0 -180px;
}

.yandex {
   background-position: 0 -240px;
}

.chat {
   background-position: 0 -300px;
}

.e-mail {
   background-position: 0 -360px;
}

/* ------------------------------------- */

/* ---------------------------------------------- /*
 *   Footer
/* ---------------------------------------------- */

.footer {
   max-width:100%;
   height:auto;
   background-color:#393e6b;
}

.footer__logo {
   padding:75px 0 20px 75px; 
 }

.copyright p {
   color:#adb0c2;
   font-size:17px;
   padding-left:75px;
   line-height:20px;
}

.fa-phone-alt {
   font-size:21px;
   color:#393e6b;
}

.circle {
   width:40px;
   height:40px;
   background:#2cd3b8;
   border-radius: 50%;
   display:flex;
   justify-content:center;
   align-items:center;
}

.phones {
   color:#adb0c2;
   margin:76px 0 76px 25px;
}

.phone__number {
   font-size:23px;
   color:white;
}

.phones span {
   font-size:20px;
   color:white;
}

.contacts {
   color:#adb0c2;
   font-size:17px;
   position:relative;
   top:4.7rem;
   left:16rem;
}

.contacts a {
   color:white;
   text-decoration:none;
}

.icons a {
   color: #adb0c2;
}

.messege {
   color:#fff;
   position:absolute;
   left:38.7rem;
   bottom:1.5rem;
   cursor: pointer;
}

.messege:hover {
   color:#393e6b;
}

@-webkit-keyframes opacity {
   0% {
      opacity:0;
   }

   25% {
      opacity:0.3;
   }

   49% {
      opacity:0.6;
   }

   50% {
      opacity:0.7;
   }

   100% {
      opacity:1;
   }
}

@keyframes opacity {
   0% {
      opacity:0;
   }

   25% {
      opacity:0.3;
   }

   49% {
      opacity:0.6;
   }

   50% {
      opacity:0.7;
   }

   100% {
      opacity:1;
   }
}

@media screen and (max-width:1200px) {
   
   nav {
      display:none;
   }

   .logo {
      width:120px;
      position:relative;
      top:1rem;
      left:3rem;
   }

   .logo-bar {
      display:flex;
      justify-content:flex-start;
      align-items: center;
   }

   .menu-icon {
      display:block;
      border:none;
      background-color:transparent;
      color:#2cd3b8;
      margin:35px 0 0 20px;
   }

   .text_style {
      font-size:20px;
      margin-bottom:40px;
      padding-top:60px;
      color:#393e6b;
   }

   .channels li {
      font-size:19px;
      text-align:left;
      width:100%;
      list-style:none;
   }

   .channel__item {
      width:50px;
      height:50px;
      background-image: url('../images/chanels-sprite.png');
      background-repeat:no-repeat;
      margin:35px 0 0 0;
   }

   .step {
      position:relative;
      left:5rem;
   }

   .consult1::before {
      font-size:130px;
      position:absolute;
      top:-70px;
      left:-40px;
      z-index:-1;
   }

   .consult2::before {
      font-size:130px;
      position:absolute;
      top:-70px;
      left:-40px;
      z-index:-1;
   }

   .step__regist {
      font-size:16px;
      position:relative;
      bottom:25px;
      left:75px;
   }
   
   .step__html {
      font-size:16px;
      margin:15px 0 10px 10px;
      position:relative;
      bottom:25px;
      left:75px;
   }

}

@media screen and (max-width:768px) {
   
   .install {
      padding-bottom:50px;
   }

   .button {
      width:100%;
      margin-bottom:20px;
   }

   .footer__logo {
      display:none;
   }

   .copyright p {
      color:#fff;
      padding:40px 0 30px 75px;
      line-height:20px;
   }

   .footer__copy span {
      display:block;
   }

}

@media screen and (max-width:359px) {
   .step__regist,
   .step__html {
      font-size:15px;
      margin-left:-10px;
   }

}

